#--private
--no-private
--protected
--main RACKFUL.md
--output-dir doc
--charset UTF-8
--title Rackful
--markup markdown
--hide-void-return
--default-return void
lib/**/*.rb
-
LICENSE.md
RACKFUL.md
CHANGES.md
