#--private
--no-private
--protected
--main README.md
--output-dir doc
--charset UTF-8
--locale en_US.UTF-8
--embed-mixins
--title Lucipher
--markup markdown
--default-return void
--hide-void-return
--hide-api private
lib/**/*.rb gems/rack-*/lib/**/*.rb
-
LICENSE.md
RACKFUL.md
CHANGES.md
